.column {
  float: left;
  width: 50%;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
.columnWithThree {
  float: left;
  width: 33.33%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 700px) {
  .column {
    width: 100%;
  }
  .columnWithThree {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) and (min-width: 700px) {
  .columnWithThree {
  width: 50%
  }
}
